{{- /*
Renders a menu for the given menu ID.

@context {page} page The current page.
@context {string} menuID The menu ID.

@example: {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
*/}}

{{- $page := .page }}
{{- $menuID := .menuID }}

{{- with index site.Menus $menuID }}

<div class="sticky top-0 z-50 bg-cti-orange mx-auto flex items-center 
   shadow-lg h-24 text-white font-semibold text-base lg:text-lg">
    <a href="#" class="flex items-center justify-center ml-4 lg:ml-32">
      <img class="h-8 w-auto inline-block"
        src="https://tailwindcss.com/plus-assets/img/logos/mark.svg?color=indigo&shade=600"
        alt="" />
      <span class="ml-4 font-black">{{ site.Title }}</span>
    </a>
    <nav class="p-4">
      <div class="container mx-auto md:block">
        <ul class="ml-8 space-x-4">
          {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
        </ul>
      </div>
    </nav>
    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      <a href="http://devshob.coati.com.mx:3000" class="font-semibold">
        Iniciar <span aria-hidden="true">&rarr;</span></a>&nbsp; &nbsp;
    </div>
</div>



{{- end }}

{{- define "partials/inline/menu/walk.html" }}
  {{- $page := .page }}
  {{- range .menuEntries }}
    {{- $attrs := dict "href" .URL }}
    {{- if $page.IsMenuCurrent .Menu . }}
      {{- $attrs = merge $attrs (dict "class" "active hover:text-gray-300" "aria-current" "page") }}
    {{- else if $page.HasMenuCurrent .Menu .}}
      {{- $attrs = merge $attrs (dict "class" "ancestor" "aria-current" "true") }}
    {{- end }}
    {{- $name := .Name }}
    {{- with .Identifier }}
      {{- with T . }}
        {{- $name = . }}
      {{- end }}
    {{- end }}
    <li class="inline-block">
    <a
      {{- range $k, $v := $attrs }}
        {{- with $v }}
          {{- printf " %s=%q" $k $v | safeHTMLAttr }}
        {{- end }}
      {{- end -}}
    class="hover:text-gray-300"
    >{{ $name }}</a>
      {{- with .Children }}
        <div class="container mx-auto">
          <ul class="ml-8 space-x-4">
            {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
          </ul>
        </div>
      {{- end }}
  {{- end }}
    </li>

{{- end }}

{{- define "partials/inline/menu/mobile.html" }}
  {{- $page := .page }}
  {{- range .menuEntries }}
    {{- $attrs := dict "href" .URL }}
    {{- if $page.IsMenuCurrent .Menu . }}
      {{- $attrs = merge $attrs (dict "class" "active -mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50" "aria-current" "page") }}
    {{- else if $page.HasMenuCurrent .Menu .}}
      {{- $attrs = merge $attrs (dict "class" "ancestor" "aria-current" "true") }}
    {{- end }}
    {{- $name := .Name }}
    {{- with .Identifier }}
      {{- with T . }}
        {{- $name = . }}
      {{- end }}
    {{- end }}
    <a
      {{- range $k, $v := $attrs }}
        {{- with $v }}
          {{- printf " %s=%q" $k $v | safeHTMLAttr }}
        {{- end }}
      {{- end -}}
    class="text-sm/6 font-semibold text-gray-900"
    >{{ $name }}</a>
      {{- with .Children }}
        <div class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">
          {{- partial "inline/menu/mobile.html" (dict "page" $page "menuEntries" .) }}
        </div>
      {{- end }}
  {{- end }}
{{- end }}